include README.md
include LICENSE
include static/gecco.png
include gecco/py.typed

recursive-include gecco/crf *.pkl *.pkl.md5
recursive-include gecco/hmmer *.ini
recursive-include gecco/types *.tsv *.npz
recursive-include gecco/interpro *.json.gz
