include README.md
include LICENSE
include static/gecco.png
include gecco/_version.txt

recursive-include gecco/crf *.pkl *.pkl.md5
recursive-include gecco/hmmer *.ini
recursive-include gecco/knn *.tsv *.npz
