p {
    text-align: justify;
}

.field-list a.reference {
    font-weight: bold;
    font-style: italic;
    font-size: 90%;
    color: #c7254e;
    box-sizing: border-box;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.class dd {
    margin-left: 2%;
}

span.navbar-version {
    margin-left: -10px;
    font-style: italic;
}

a.navbar-brand {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 5px;
}

.navbar .nav > li > a {
    color: white;
    text-transform: none;
    font-size: 14px;
}

.navbar-brand img {
    margin-right: 10px;
}
